<!-- A modal showing the full details of a given product. -->
<div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="productDetailsModalTitle">...</h3>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody id="productDetailsTableBody">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="productDetailsAddToCartButton" type="button" class="btn btn-success" onclick="return false;">
          <span class="glyphicon glyphicon-circle-arrow-down"></span>
          &nbsp;Add to cart
        </button>
      </div>
    </div>
  </div>
</div>