 <table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>In stock</th>
      <th class="col-sm-1"><!-- Add to cart --></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
        <tr onclick="console.log('Hello.'); return false;">
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.num_in_stock }}</td>
            <td><button type="button" class="btn btn-success clickstopper" onclick="console.log('World.'); return false;"><span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;Add to cart</button></td>
        </tr>
    {% empty %}
        <p>We found no products matching your search.</p>
    {% endfor %}
  </tbody>
</table> 